.header {
  background-color: #404041;
  text-align: center;
}

.first-word {
  color: #ED458B;
  display: inline;
}

.second-word {
  color: #E6E7E8;
  display: inline;
}

.guesser {
  text-align: center;
}
