.header {
  background-color: #404041;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.first-word {
  color: #ED458B;
  display: inline;
}

.second-word {
  color: #E6E7E8;
  display: inline;
}

.guesser {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: #929497;
  color: #FFFFFF;
}
